<h1>Reset password - Meets</h1>

<p>Hey {{name}}, It looks like you requested a password reset</p>

<p>If you did it, please click below to reset your Meets password:</p>
<p style='font-weight: bold;'>
  Click here:
  <a href='{{url}}'>Reset password</a>
</p>

<p>If you have not requested this email, you may ignore it.</p>

<p>Thanks,</p>

<div
  style='display: flex; column-gap: 10px; align-items: center; line-height: 5px; padding-block-start: 10px;'
>
  <img
    src='https://lh3.googleusercontent.com/a/AGNmyxbwg1m3QaPoC1CabDhmngCjNkNVJ_HSjtXggURi=s96-c-rg-br100'
    alt='Meets'
    width='50'
    height='50'
  />
  <div>
    <p style='font-weight: bold;'>Meets Team</p>
    <p>
      Share what you are
    </p>
  </div>
</div>
<p style='margin-left: auto; align-self: flex-end;'>@2023 Meets. All rights
  reserved.</p>